
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid #999999;
    box-shadow:inset -20px -20px 20px rgba(0, 0, 0, 0.7);
}
.box .line {
    position: absolute;
    left: 50px;
    transform: translate(-50%);
    top: 0px;
    width: 5px;
    height: 30px;
    background-color: #412d2d;
    transform-origin: 2.5px 143px;
}

.inner {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid #999999;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.7);
}

